# Python Basics

## For programmers coming from C/C++

As we discussed, Python is a _dynamically typed_, _interpreted_ language.
This document will serve as a "starter" for a quick crash-course through the "zen" of Python.
For further basis, consult the DSFS textbook by Joel Grus, and other course resources.

In [3]:
# NB: pound signs start a comment
# no boilerplate necessary, just start typing Python!
a = 10
print(a)
a = "hello, world!" # a just changed types!
print(a)

10
hello, world!

Looking at the code above, we can also see that the syntax (so far) is rougly similar to C/C++/Java and other languages. Note the lack of semicolons and type annotations.

## TODO:
- [x] whitespace-based formatting
    - [ ] conditionals
    - [ ] multi-line code
- [ ] looping
- [ ] functions
- [ ] strings
- [ ] exceptions
- [ ] lists
- [ ] tuples
- [ ] dictionaries

In [9]:
a = 10
a;

In [13]:
a,b = 10, 5

In [28]:
a, _ = 11, 5 # disards values

In [29]:
a = 5

In [33]:
if a is 10: # "is" plays the role of ==
    print("a is 10")
elif a is 5:
    print("a is 5")
else:
    print("a is not 5 or 10")

a is 5

## Lists

In [53]:
# "arrays" in Python are called "lists"
# denote a list by [ ]
a = [1, 5, 10]
print(a)
# NB: len is a built-in function to find the length of a list

print("The length of a is " + str(len(a)))
print("The length of a is", len(a))
print(f"The length of a is {len(a)}")
print("The length of a is {0}".format(len(a)))

for i in a:
    print(i)

[1, 5, 10]
The length of a is 3
The length of a is 3
The length of a is 3
The length of a is 3
1
5
10

In [54]:
print("Positional arguments: {0} {0}".format(5))

Positional arguments: 5 5

In [64]:
a = (1 + 2 + 3 + 4 + 5 
       + 6 + 7 + 8)
print(a)

36

In [66]:
"""
You can use triple-quote as a (sort of) block comment
But, does get procesed, so "costs" something...|
"""

'\nYou can use triple-quote as a (sort of) block comment\nBut, does get procesed, so "costs" something...|\n'

In [68]:
arr = [1, 23, 6, 8]
print(arr)

[1, 23, 6, 8]

In [77]:
print(arr[0]) # index-by 0
#print(arr[4]) # Error!
print(arr[-1]) # last element

1
8

### Slicing + Ranges

In [80]:
# Slices the 1th through 3rd (non-inclusive)
print(arr[1:3])

[23, 6]

In [86]:
# the "range" function returns an interator from the start to the end, with an optional step
arr = list(range(1,100)) # make a range and convert to a list
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [91]:
print(arr[12])
print(arr[10:20:2]) # add in a step-size/stride at the end

13
[11, 13, 15, 17, 19]

### List comprehension

In [100]:
arr = [i*i for i in range(1,20)] # memory-efficient because range() doesn't construct a list
print(arr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [105]:
# Says: "compute i*2 for every i in arr"
[i*2 for i in arr]

[2,
 8,
 18,
 32,
 50,
 72,
 98,
 128,
 162,
 200,
 242,
 288,
 338,
 392,
 450,
 512,
 578,
 648,
 722]

In [102]:
for i in range(0,len(arr)):
    print(f"arr[{i}] = {arr[i]}"")

arr[0] = 1
arr[1] = 4
arr[2] = 9
arr[3] = 16
arr[4] = 25
arr[5] = 36
arr[6] = 49
arr[7] = 64
arr[8] = 81
arr[9] = 100
arr[10] = 121
arr[11] = 144
arr[12] = 169
arr[13] = 196
arr[14] = 225
arr[15] = 256
arr[16] = 289
arr[17] = 324
arr[18] = 361

In [107]:
print(arr)
# computes i*2 for all the even elements of arr
[i*2 for i in arr if i % 2 is 0]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

[8, 32, 72, 128, 200, 288, 392, 512, 648]

### Dictionaries

A dictionary is a "key/value" store.
So we can put pretty much any data inside, as long as it's "hashable".
Underneath (if you've taken COSC 320) is a hash table!

In [124]:
# Declare dictionary with { }
j = {"a": 1, "b": 2}
d = {
    2: "two",
    "two": 100,
    3: [1, 2, 4],
    "*": {
        "sub-1": 1,
        "sub-2": 2,
    },
    4: j,
}
print(d)
print(d[2])
print(d["two"])
print(d[d[2]])
print(d["*"]["sub-1"])
print(d[3])
print(d[3][1])

{2: 'two', 'two': 100, 3: [1, 2, 4], '*': {'sub-1': 1, 'sub-2': 2}, 4: {'a': 1, 'b': 2}}
two
100
100
1
[1, 2, 4]
2

In [127]:
j['b'] = 5
# Note that j['b'] is changed in both places: it must be a reference inside d!
print(j)
print(d)

{'a': 1, 'b': 5}
{2: 'two', 'two': 100, 3: [1, 2, 4], '*': {'sub-1': 1, 'sub-2': 2}, 4: {'a': 1, 'b': 5}}

In [159]:
database = [{"id": i, "name": f"Person {i}"} for i in range(0,10)]
print(database)

[{'id': 0, 'name': 'Person 0'}, {'id': 1, 'name': 'Person 1'}, {'id': 2, 'name': 'Person 2'}, {'id': 3, 'name': 'Person 3'}, {'id': 4, 'name': 'Person 4'}, {'id': 5, 'name': 'Person 5'}, {'id': 6, 'name': 'Person 6'}, {'id': 7, 'name': 'Person 7'}, {'id': 8, 'name': 'Person 8'}, {'id': 9, 'name': 'Person 9'}]

In [136]:
def myFunction(param1, param2):
    print(f"Got parameters {param1} and {param2}")

In [137]:
myFunction(4,database)

Got parameters 4 and [{'id': 1, 'name': 'person 1'}, {'id': 2, 'name': 'person 2'}]

In [138]:
def double(arr):
    return [i*2 for i in arr]

In [140]:
print(arr)
print(double(arr))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[2, 8, 18, 32, 50, 72, 98, 128, 162, 200, 242, 288, 338, 392, 450, 512, 578, 648, 722]

In [141]:
print(d)

{2: 'two', 'two': 100, 3: [1, 2, 4], '*': {'sub-1': 1, 'sub-2': 2}, 4: {'a': 1, 'b': 5}}

In [149]:
for item in d:
    print(item)
    print(d[item])

2
two
two
100
3
[1, 2, 4]
*
{'sub-1': 1, 'sub-2': 2}
4
{'a': 1, 'b': 5}

In [150]:
print(database)

[{'id': 1, 'name': 'person 1'}, {'id': 2, 'name': 'person 2'}]

In [160]:
[item for item in database if item['id'] is 4] # "extract" the item with id = 1 0, 'name': 'Person 0'},
 {'id': 2, 'name': 'Person 2'},
 {'id': 4, 'name': 'Person 4'},
 {'id': 6, 'name': 'Person 6'},
 {'id': 8, 'name': 'Perso

[{'id': 4, 'name': 'Person 4'}]

In [161]:
[item for item in database]

[{'id': 0, 'name': 'Person 0'},
 {'id': 1, 'name': 'Person 1'},
 {'id': 2, 'name': 'Person 2'},
 {'id': 3, 'name': 'Person 3'},
 {'id': 4, 'name': 'Person 4'},
 {'id': 5, 'name': 'Person 5'},
 {'id': 6, 'name': 'Person 6'},
 {'id': 7, 'name': 'Person 7'},
 {'id': 8, 'name': 'Person 8'},
 {'id': 9, 'name': 'Person 9'}]

In [169]:
[item for item in database if item['id'] % 2 == 50]

[]

In [180]:
result = []
if result is []:
    print("result is empty")

In [181]:
 0, 'name': 'Person 0'},
 {'id': 2, 'name': 'Person 2'},
 {'id': 4, 'name': 'Person 4'},
 {'id': 6, 'name': 'Person 6'},
 {'id': 8, 'name': 'Persoresult is []

False

In [182]:
 0, 'name': 'Person 0'},
 {'id': 2, 'name': 'Person 2'},
 {'id': 4, 'name': 'Person 4'},
 {'id': 6, 'name': 'Person 6'},
 {'id': 8, 'name': 'Persoresult == []

True

In [183]:
len(result)

0

In [189]:
a = "some text"
b = "some text"

In [187]:
a == b

True

In [188]:
a is b

False